.dashboard-container {
    padding: 20px;
    background-color: #dbf4db; /* Light green background */
    width: 220vh;
  }
  
  .weather-report {
    background: #333;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .action-buttons button {
    margin-right: 15px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-buttons button:hover {
    background-color: #45a049;
  }
  
  .user-details,
  .product-recommendation,
  .tutorial-recommendation {
    margin-bottom: 20px;
  }
  
  .recommendations {
    display: flex;
    justify-content: space-between;
  }
  
  .tables-section {
    margin-top: 20px;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .data-table th,
  .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .data-table th {
    background-color: #4caf50;
    color: white;
  }
  