.chart-container {
    padding: 16px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 22%;
    margin-top: 7%;
    width: 1225px;
  }
  
  .chart-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    

    
  }
  